
body ,html{

    background-color:#090818;
   
    overflow-x: hidden  !important; 
    
}  
h1{
    text-decoration:underline;
}
hr{
  border: none;
  border-top: 3px double #333;
  color: #333;
 
  text-align: center;
  height: 5px;
}

.first{
    margin: 0;
    padding-left: 20rem;
    padding-top: 7rem;
  
    padding-bottom: 7 rem;
     height: 200px;
     float: left;
}


.first p{
   
    color: #ecd380;
    font-size: 30px;
    text-align:left;
}
.first h2{ 
    color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80px;
    text-align: left;
}
.first h3{
    color: beige;
    font-size: 25px;
    text-align: left;
}
 h4{


    padding-left: 50rem;
    padding-top: 5rem;
}

.first pre{
  color: beige;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align:left;}

 .image img{

width: 400px;
height:500px;
}
  .topnav {
    
    overflow: hidden;
    background-color:black;
     position: fixed;
     width: 1700px;
     top:0;
     left: 0;
     padding-left: 1200px;
     
  }
  
  .topnav a {
    
    float: left;
    color: beige;
    display:block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 20px;
    font-style:normal;
    margin-right: 3rem;
    
  }
  
  .topnav a:hover {
    background-color:#333;
    color: rgb(22, 219, 233);
    font-weight: bold;
    text-decoration: underline;
  }
  .topnav .icon {
    display: none;
  }
  
  .left {

    margin: 0;
    padding-left: 20rem;
    padding-top: 7rem;
    padding-right: 3rem;
    padding-bottom: 5 rem;
     height: 300px;
     float: left;
    
  }
  .right {

    
    
    
    padding-top: 12rem;
    padding-left: 70rem;

  }
  .right img{
    width: 180px;
    height: 200px;
    border: 3px solid black;
  }
 
  #resume{
    
    margin: 0;
    margin-left: 3rem;
    font-size: 23px;
    padding-top:1rem ;
    padding-bottom: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    float: left;
    background-color:#333;
    color: beige;
    text-decoration: none;
    
  }
 
  .second span{
   
    color:beige ;
    


  }
  .container {
    align-items: center;
    padding-left: 72rem ;
    display: grid;
    
   
  }
  .container img{
    width: 30px;
    height: 25px;
    margin-right: 1rem;
    border-radius :50%;
  }

  .second h1{
    color: #ecd380;
    text-align: center;
  }
  .second pre{
    font-size: 17px;
    text-align: left;
    color: blanchedalmond;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    opacity: 0.6;
    
    padding-right: 3em;
  }
  .second b{
    color: rgb(125, 240, 240);
  }

  .thirdd h1{
    color: beige;
    padding-top: 5rem;
    padding-left: 41rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
   }   


  .footer {
       
    padding-left: 37rem;
    padding-right: 47rem;
    padding-bottom: 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    color: aliceblue;
   
  }
   .footer_img{
       display: flex;
       justify-content: center;
       padding-left: 0rem;
       background-color: aliceblue;

   }
   .footer_img img{

       margin-right: 2em;
       width:50px;
       height:50px ;
       border-radius:25%;
       border: black 1px solid;
   }
   .footer1{
     padding-top: 2em;
     padding-bottom: 3em;
   }
   
  
   .footer:hover{
       color: #ecd380;
   }
  
   .column {
    float: left;
    width: 12.33%;
    padding-left: 5rem;
    padding-bottom: 10rem;
  }
  .column img{
   width: 10px;
   height: 150px;
   border-radius: 20px;
   border:1px solid  rgb(125, 240, 240);;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

  .row::after {
    content: "";
    clear: both;
    
  }
































  
   @media screen and (max-width:400px){
    body{
        
        overflow-x: hidden !important;
        background-color:#090818;
        
    }
    hr{
        color: #090818;
        border-top: 3px double #090818;
    }
    .first{
     padding-left: 0%;
      padding-top: 5em;
        
    }
    .first p{
   
        color: #ecd380;
        font-size: 20px;
        text-align:center;
    }
    .first h2{ 
        color: beige;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 32px;
        text-align: center;
    }
    .first h3{
       margin-left: 1ch;
        color: beige;
        font-size: 18px;
        text-align: center;
        font-weight: lighter;
    }
     .first pre{
  color: beige;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 60rem;
  font-size:13px;
  padding-left: 1rem ;

}



    h4{


        padding-left: 4rem;
        padding-top: 17rem;
    }
    
     .image img{
    
    width: 200px;
    height:300px;
    }
    .left {

        padding: 0%;
      
         
         
      }
      .right {
        padding-top: 21rem;
        padding-left: 7rem;
    
      }
      .right img{
        width: 120px;
        height: 150px;
        border: 3px solid black;
      }
      .second h1{
        color: #ecd380;
        font-size: 20px;
        padding-left:0rem ;
      
      }
      #resume{ 
                margin-left: 6rem;
                font-size: 12px;
                margin-top: 16rem;
                padding-top:1rem ;
                padding-bottom: 1rem;
                padding-left: 1rem;
                padding-right: 1rem;
    
      }
      .second pre{
        font-size: 13px;
        text-align: left;
        color: blanchedalmond;
        font-family: 'Times New Roman', Times, serif;
        padding-left: 2em;
        padding-right: 2em;
        opacity: unset;
        
      }
      .second b{
        color: rgb(125, 240, 240);
      }
      
      
      .column {
        float: left;
        width: 10.33%;
        padding-left: 1.7rem;
        padding-bottom: 0rem;}
    
      .column img{
       height: 80px;
       width: 70px;
       border-radius: 20px;
       border:1px solid  rgb(125, 240, 240);;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
    
      .row::after {
        content: "";
        clear: both;
      }
      .thirdd h1 {
        color: beige;
        padding-top: 0rem;
        padding-left: 7rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 17px;
    }



.footer {
  color: beige;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top:7rem;
  font-size:12px;
  padding-left: 6.5rem ;
  padding-right: 6.5rem;
  
  
}
.footer:hover{
  color: #ecd380;
}





@media screen and (max-width: 600px) {
  .topnav{
     width: 375px;
     top:0;
     left: 0;
     padding-left: 0px;
     
  
  }
  .topnav a  {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
    color:beige;
  }
}

       

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive{position: fixed;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    
    
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    
  }
}

    
